<%= render partial: "shared/errors" %>

<%= form_for @recipe do |f| %>
  <div class="form_group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form_group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
